@font-face {
  font-family: "Pangram Sans";
  src: url("../fonts/PPPangramSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pangram Sans";
  src: url("../fonts/PPPangramSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
	font-family: "Noah";
	src: url("../fonts/Noah-Bold.woff2") format("woff2");
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
	font-display: swap;
}
:root {
  --accent: #00AC46;
  --accent_hover: #00923B;
  --bg: #F3F6F8;
  --black: #23282A;
  --black_hover: #030303;
  --black__border: #101010;
  --black__border_hover: black;
  --btn__border: #009C40;
  --btn__border_hover: #007B33;
  --btn-gradient-1: rgba(253, 250, 220, 0.4), transparent 40%;
  --btn-gradient-2: rgba(253, 250, 220, 0.4), transparent 40%;
  --disabled: #B3B3B3;
  --invalid: #BF0000;
  --star: #FFCC00;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--black);
  font-family: "Pangram Sans", sans-serif;
  font-weight: 500;
  line-height: 1.3;
}
b {
  font-weight: 600;
}
h1,
h2 {
  margin: 0;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0;
}
.circled {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(35, 40, 42, 0.08);
  padding: 6px;
}
.link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--accent);
}
.link_accent {
  color: var(--accent);
  cursor: pointer;
  text-decoration: underline;
}
.link_dashed {
  color: var(--accent);
  cursor: pointer;
  border-bottom: 1px dashed;
}
.highlight {
  color: var(--accent);
}
.button {
  height: 71px;
  min-width: 216px;
  background-color: var(--accent);
  background-image:
    radial-gradient(circle at 25% 100%, var(--btn-gradient-1)),
    radial-gradient(circle at 65% 0%, var(--btn-gradient-2));
  border: 0;
  border-bottom: 3px solid var(--btn__border);
  border-radius: 99em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  transition: background-color 0.3s, border 0.3s;
  padding: 0 34px;
  flex-shrink: 0;
}
.button:hover {
  background-color: var(--accent_hover);
  border-color: var(--btn__border_hover);
  font-weight: 600;
}
.button_black {
  --btn-gradient-1: rgba(253, 250, 220, 0.4) -20%, #23282A00 40%;
  --btn-gradient-2: rgba(253, 250, 220, 0.4) -70%, #23282A00 40%;
  background-color: var(--black);
  border-color: var(--black__border);
}
.button_black:hover {
  background-color: var(--black_hover);
  border-color: var(--black__border_hover);
}
.button_narrow {
  height: 53px;
}
.bg_accent {
  background: var(--accent);
}
.header {
  background: var(--bg);
  padding: 35px 40px;
}
.header__top {
  display: flex;
  align-items: center;
  flex: 1;
}
.header__mobile-toggle,
.map__toggle {
  display: none;
}
.header__overlay {
  max-width: 1440px;
  margin: auto;
}
.sitenav {
  display: flex;
  text-align: center;
}
.sitenav__logo img {
  height: 42px;
}
.sitenav__links {
  margin: auto;
}
.sitenav__list {
  display: flex;
  gap: 50px;
}
.sitenav__phone {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: flex-end;
}
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 40px;
}
.section {
  margin: 0 auto 150px;
}
.section__title {
  max-width: 960px;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
}
.section__subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  margin: 30px 0;
}
.section__subtitle .icon {
  width: 28px;
}
.section__row {
  display: flex;
  align-items: center;
}
.hero {
  display: grid;
  background: var(--bg);
  padding: 40px;
}
.hero__title {
  margin-top: 64px;
}
.hero__action {
  margin: 40px 0;
}
.hero__action-text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
  margin-left: 20px;
  vertical-align: top;
}
.hero__action-text::after {
  content: url(../img/action_line.svg);
  display: block;
  position: absolute;
  margin-top: 6px;
  margin-left: -20px;
}
.hero__image {
  height: 560px;
  grid-column: 2;
  grid-row: 1 / -1;
  justify-self: end;
}
.hero__benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 35px;
  line-height: 1.15;
  margin: 40px 0;
}
.hero__benefit {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}
.equipment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}
.equipment__item {
  display: flex;
  width: 222px;
  align-items: center;
  gap: 12px;
  background: var(--bg);
  border-radius: 99em;
  padding: 10px;
}
.equipment__number {
  background: black;
  color: white;
  font-family: "Noah", sans-serif;
  font-weight: 700;
}
.equipment__show {
  width: max-content;
  margin: auto;
}
.action1 {
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  gap: 20px;
  background: var(--bg);
  border-radius: 99em;
  margin: 50px auto;
  padding: 25px 35px;
}
.action1__img {
  position: absolute;
  top: -25px;
  left: -25px;
  height: 96px;
}
.action1__text1 {
  font-size: 20px;
}
.section2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  background-color: var(--accent);
  background-image: radial-gradient(circle at 820px, rgba(253, 250, 220, 0.65), transparent 25%);
  border-radius: 30px;
  color: white;
  padding: 60px;
}
.section2 .section__title {
  margin: 0;
}
.section2__row1 {
  gap: 15px;
  text-align: left;
}
.section2__row1 img {
  height: 57px;
}
.section2__img {
  background-image:
    url(../img/logo.svg),
    url(../img/logo-cap.webp),
    url(../img/action-1.webp);
  background-position: 52% 88%, 50% 5%, bottom;
  background-size: 40%, 4%, contain;
  background-repeat: no-repeat;
}
.action2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.scheme {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 50px 0 40px;
}
.scheme__item {
  --offset: 32px;
  position: relative;
  width: 256px;
  background: var(--bg);
  border-radius: 10px;
  counter-increment: scheme;
  margin-top: var(--offset);
  padding: 30px;
}
.scheme__item::before {
  content: counter(scheme, decimal-leading-zero);
  position: absolute;
  top: calc(-1 * var(--offset));
  left: 0;
  right: 0;
  width: 2.3em;
  background: var(--black);
  border-radius: 5px;
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin: auto;
  padding-top: 0.35em;
  text-shadow: 0 4px 4px black;
  z-index: -1;
}
.scheme__img {
  width: 100%;
  border-radius: 5px;
}
.scheme__title {
  color: var(--accent);
  font-size: 20px;
  margin: 20px 0 15px;
}
.section3 {
  text-align: center;
}
.action3 {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.action3__text {
  width: 176px;
  margin: 15px;
}
.section4 {
  text-align: center;
}
.benefits {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  width: 210px;
  background: var(--bg);
  border-radius: 15px;
  overflow: hidden;
}
.benefits__img {
  width: 100%;
}
.benefits__text {
  margin: auto;
  padding: 15px;
}
.action4 {
  display: inline-flex;
  width: 415px;
  align-items: center;
  background: var(--black);
  border-radius: 99em;
  color: white;
  padding: 20px;
  gap: 20px;
}
.story {
  display: grid;
  gap: 30px;
  margin: 50px auto;
}
.story__img {
  grid-row: 1 / -1;
  width: 100%;
  border-radius: 25px;
}
.story__details {
  grid-column: 2 / -1;
}
.story__title {
  font-size: 28px;
  margin-bottom: 30px;
}
.story__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.story__solutions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.story__solution {
  background: var(--bg);
  border-radius: 5px;
  padding: 7px 10px;
}
.story__work-details {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.story__work {
  display: flex;
  align-items: center;
  gap: 7px;
}
.story__work::before {
  height: 18px;
}
.story__work_time::before {
  content: url(../img/work-details-1.svg);
}
.story__work_cost::before {
  content: url(../img/work-details-2.svg);
}
.story__work_master::before {
  content: url(../img/work-details-3.svg);
}
.story .button {
  align-self: end;
  justify-self: center;
}
.review {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--bg);
  border-radius: 15px;
  padding: 30px;
}
.review__profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.review__avatar {
  position: relative;
  height: 76px;
}
.review__avatar img {
  height: 100%;
}
.review__avatar::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 20%;
  background: var(--accent);
  border: 2px solid white;
  border-radius: 50%;
}
.review__name {
  font-weight: 600;
  text-transform: uppercase;
}
.review__rating {
  color: var(--star);
}
.review__content {
  flex: 1;
}
.review__master {
  margin-top: 20px;
}
.review_small {
  padding: 15px;
}
.review_small .review__avatar {
  height: 43px;
}
.review_small .review__avatar::after {
  border-width: 1px;
}
.review_small .review__profile {
  gap: 10px;
  margin-bottom: 15px;
}
.review_small .review__date {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
}
.discount {
  position: relative;
  background-color: var(--accent);
  background-image:
    radial-gradient(circle at 260px 0, rgba(253, 250, 220, 0.5), transparent 15%),
    radial-gradient(circle at 700px, rgba(253, 250, 220, 0.5), transparent 20%);
  border-radius: 35px;
  color: white;
  margin: 40px auto;
  padding: 40px 60px;
}
.discount__img {
  max-width: 100%;
}
.countdown {
  max-width: 400px;
  font-size: 20px;
  text-align: center;
}
.countdown__clock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  margin: 20px 0 40px;
}
.countdown__digit {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 75px;
  background: linear-gradient(white, #DFDFDF);
  border-radius: 7px;
  box-shadow: 0 20px 10px rgba(6, 25, 45, 0.1);
  color: var(--accent);
  font-size: 50px;
  z-index: 9;
}
.countdown__digit::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 1px;
  background: #B1B1B1;
  margin: auto;
  z-index: -1;
}
.countdown__separator {
  font-size: 30px;
}
.slider {
  display: flex;
  gap: 20px;
  margin: 50px 0;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.slide {
  min-width: var(--slide-width, 325px);
  scroll-snap-align: start;
}
.slider__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button_arrow {
  width: 42px;
  height: 42px;
  background: var(--accent) url(../img/arrow.svg) 55% no-repeat;
  cursor: pointer;
  transition: background 0.3s;
}
.button_arrow:hover {
  background-color: var(--accent_hover);
}
.button_arrow:disabled {
  background-color: var(--black);
}
.button_left {
  scale: -1 1;
}
.slider__dots {
  display: flex;
  gap: 10px;
}
.slider__dot {
  width: 13px;
  height: 13px;
  border: 1px solid #A7A7A7;
  border-radius: 50%;
  transition: border 0.3s, background 0.3s;
}
.slider__dot_active {
  border: 0;
  background: var(--accent);
}
.details {
  background: var(--bg);
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}
.details__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s;
}
.details__title::after {
  content: url(../img/plus.svg);
  display: flex;
  background: var(--black);
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(35, 40, 42, 0.08);
  padding: 7px;
  transition: background 0.3s, rotate 0.3s;
}
.details[open] .details__title {
  color: var(--accent);
}
.details[open] .details__title::after {
  background: var(--accent);
  rotate: 45deg;
}
.details__content {
  margin-top: 15px;
}
.section9 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.section9 .section__title {
  margin: 0 0 30px;
}
.h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.h4 {
  font-size: 18px;
  margin: 20px 0;
}
.list {
  margin: 15px 0;
  padding-left: 15px;
  list-style: disc;
}
.list_ordered {
  list-style: numeric;
}
.list li {
  margin: 10px 0;
}
.list li::marker {
  color: var(--accent);
  font-weight: bold;
}
.list_ordered li::marker {
  color: inherit;
}
.image-block {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}
.image-block img {
  height: 284px;
  object-fit: cover;
}
.action5 {
  position: relative;
  max-width: 408px;
  background-color: var(--accent);
  background-image:
    radial-gradient(circle at 300px 300px, rgba(253, 250, 220, 0.5), transparent 30%);
  border-radius: 35px;
  color: white;
  padding: 30px;
  overflow: hidden;
}
.action__title {
  font-size: 28px;
  margin-bottom: 15px;
}
.action__contact {
  display: flex;
  align-items: center;
  margin: 36px;
  gap: 20px;
  text-align: right;
  writing-mode: vertical-rl;
}
.action__contact::before {
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/phone_circle.svg) center / cover;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(35, 40, 42, 0.08);
}
.action__contact span {
  rotate: 180deg;
}
.action__link {
  color: inherit;
}
.action5__img {
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 288px;
}
.action6 {
  display: flex;
  justify-content: space-between;
  background: var(--bg);
  border-radius: 20px;
  padding: 20px 30px;
  gap: 20px;
  font-size: 20px;
}
.contacts {
  display: flex;
  gap: 30px;
  margin: 30px 0;
}
.contact {
  background: var(--bg);
  border-radius: 20px;
  flex: 1;
  padding: 25px;
}
.contact__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}
.contact__title::before {
  display: flex;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(35, 40, 42, 0.08);
}
.contact__title_location::before {
  content: url(../img/location.svg);
}
.contact__title_time::before {
  content: url(../img/time.svg);
}
.map {
  position: relative;
  width: 100%;
  height: 412px;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}
.map__select {
  display: flex;
  width: min-content;
  background: var(--accent);
  border-radius: 99em;
  color: white;
  padding: 7px;
}
.map__option {
  cursor: pointer;
  line-height: 1.2;
  padding: 5px 15px;
}
.map__showroute {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 9;
}
:checked + .map__option {
  border-radius: 99em;
  background: white;
  color: var(--black);
}
.footer {
  background: var(--black);
  color: white;
  padding: 40px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}
.footer__notice {
  max-width: 640px;
}
.popup {
  max-width: 467px;
  background: var(--accent);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 40px 60px;
  text-align: center;
  touch-action: none;
  animation: 0.5s fade-in;
}
.popup::backdrop {
  background: rgba(0, 0, 0, 0.4);
  touch-action: none;
}
.popup__close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--black);
  cursor: pointer;
  rotate: 45deg;
  transition: background 0.3s;
}
.popup__close:hover {
  background: var(--accent);
}
.popup__close:active {
  background: var(--accent_hover);
}
.popup__text {
  font-size: 20px;
  margin: 30px 0;
}
.popup__title {
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.popup__field {
  display: flex;
  align-items: center;
  position: relative;
  margin: 30px 0;
}
.popup__field img {
  position: absolute;
  height: 18px;
  left: 20px;
}
.popup__input {
  background: white;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(77, 77, 77, 0.5) inset;
  font-size: 16px;
  font-family: inherit;
  border: 0;
  outline: 0;
  padding: 24px 20px 24px 50px;
  flex: 1;
}
.popup__input:user-invalid {
  color: var(--invalid);
  outline: 1px solid var(--invalid);
}
.popup__error {
  display: none;
}
.popup__input:user-invalid + .popup__error {
  display: block;
  position: absolute;
  bottom: 105%;
  font-size: 12px;
  color: var(--invalid);
}
.popup__agree {
  display: block;
  font-size: 14px;
  margin-top: 20px;
}
.icon {
  flex-shrink: 0;
}
.icon__img {
  width: 100%;
}
.icon_30 {
  width: 30px;
  height: 30px;
}
.icon_35 {
  width: 35px;
  height: 35px;
}
.icon_40 {
  width: 40px;
  height: 40px;
}
.icon_60 {
  width: 60px;
  height: 60px;
}

.section2 {
  max-width: 1130px;
}
.section5 {
  max-width: 1245px;
}
.section6 {
  max-width: 900px;
}
.section8 {
  max-width: 900px;
}
.section9__left {
  max-width: 854px;
}
.section10 {
  max-width: 1130px;
}

.hidden {
  display: none;
}
/* mobile */
@media screen and (max-width: 1023px) {
  .mobile_hidden {
    display: none;
  }
  .mobile-flex-col {
    flex-direction: column;
  }
  .header {
    padding: 20px;
  }
  .header__overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    touch-action: none;
    z-index: 49;
  }
  :checked + .header__overlay {
    display: block;
  }
  .header__wrapper {
    background: #FFF;
    padding: 20px;
  }
  .sitenav__logo img {
    height: 35px;
  }
  .footer .sitenav__logo img {
    height: 55px;
  }
  .sitenav {
    flex-direction: column;
    gap: 30px;
  }
  .sitenav__logo {
    margin: auto;
  }
  .sitenav__list {
    flex-direction: column;
    gap: 20px;
  }
  .sitenav__phone {
    justify-content: center;
  }
  .header .sitenav__phone {
    font-size: 20px;
  }
  .main {
    padding: 0 20px;
  }
  .section {
    margin: 0 auto 80px;
  }
  .section__title {
    font-size: 31px;
    text-align: center;
  }
  .section__subtitle {
    text-align: center;
  }
  .hero {
    grid-template-columns: 100%;
    padding: 20px;
  }
  .hero__title {
    font-size: 34px;
    margin-top: 20px;
  }
  .hero__image {
    height: 340px;
    grid-column: auto;
    grid-row: 2;
    margin-right: 15px;
  }
  .hero__benefits {
    margin: 20px 32px;
  }
  .equipment {
    margin: 30px 0;
  }
  .action1 {
    border-radius: 15px;
    margin: 30px 0;
    text-align: center;
    padding: 30px 35px;
  }
  .section2 {
    text-align: center;
    padding: 40px 20px 0;
  }
  .section2__img {
    height: 277px;
  }
  .scheme__item {
    --offset: 20px;
  }
  .scheme__item::before {
    font-size: 20px;
  }
  .action4 {
    width: 256px;
    border-radius: 15px;
  }
  .benefits {
    margin: 30px 0;
  }
  .story {
    margin: 30px 0;
  }
  .story__details {
    text-align: center;
  }
  .discount {
    padding: 40px 28px 0;
  }
  .countdown__digit {
    width: 37px;
    height: 52px;
    font-size: 33px;
    border-radius: 3px;
  }
  .details__title {
    font-size: 16px;
  }
  .scheme,
  .benefits {
    align-items: center;
  }
  .image-block img {
    width: 100%;
    height: 225px;
  }
  .action5 {
    border-radius: 20px;
    padding: 20px 20px 30px;
  }
  .action__contact {
    margin: 20px 36px;
  }
  .action6 {
    font-size: 16px;
    padding: 20px;
  }
  .contacts {
    gap: 20px;
    margin-top: 20px;
  }
  .contact {
    padding: 20px;
  }
  .map {
    height: 566px;
    margin-top: 30px;
  }
  .map__select {
    margin: 0 auto;
  }
  .map__showroute {
    height: 53px;
    bottom: 20px;
    left: 20px;
  }
  .popup {
    padding: 30px 20px;
  }
  .footer__row {
    text-align: center;
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  .mobile_only {
    display: none;
  }
  .sitenav__phone::before {
    content: "";
    background: url(../img/phone_circle.svg) center / cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(35, 40, 42, 0.08);
  }
  .hero {
    grid-template-columns: minmax(auto, 800px) 500px;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 50px;
  }
  .action1__text1 {
    text-align: right;
  }
  .hero__title,
  .section2 .section__title,
  .section9 .section__title {
    text-align: left;
  }
  .section2__row1 {
    gap: 15px;
    font-size: 20px;
    text-align: left;
  }
  .section2__img {
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 470px;
    width: 502px;
  }
  .action3__text {
    position: absolute;
    left: 100%;
    text-align: left;
  }
  .action4__text {
    text-align: left;
  }
  .story {
    grid-template-columns: 440px 1fr auto;
    grid-template-rows: auto auto;
  }
  .discount__img {
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 340px;
  }
  .section9 {
    align-items: flex-start;
  }
  .action6 {
    align-items: center;
  }
  .footer__row {
    align-items: flex-end;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
